@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: "Roots";
    src: url(../font/Roots.ttf);
}


body {
    margin: 0;
    background-image: url("../testsite/Fondtest.svg");

    color: lightgray;
}

header {
    background-image: url("../testsite/l-b-mluSdDeOksc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: auto;
    height: 80vh;
    z-index: 1;

}

main {
    position: relative;
    left: 50%;
    z-index: 0;
    top: -10vh;
    transform: translate(-50%);
    width: 80%;
    height: 100%;
    /* box-shadow: 1px 0px 15px 5px black; */
    background-color: white;


}

.article {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 15px 15px 15px 5px black; */

}

.boat {
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
    background-color: white;

}

.boat i {
    color: lightblue;

    margin: 50px;

}

.globalarticle {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px 5px black
}

hr {
    width: 8em;
    border: 1px solid black;
}

h2 {
    text-align: center;
    padding-top: 35px;
    color: black;
    font-family: "Roots";
    font-size: 3em;
    margin-bottom: 15px;
}

p {
    color: black;
    text-align: center;
    width: 50%;
    font-family: 'Lato', sans-serif;

}

iframe {
    width: 50vw;
    height: 25vw;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 20px;
    margin: 0;
    margin-right: 5em;
    padding: 2%;
    font-family: "Roots";
    font-weight: 150;
    text-align: center;
}

nav ul li {

    list-style: none;
    cursor: pointer;

    top: 25px;
    right: 150px;
    width: 220px;
    margin-bottom: 25px;


}

nav ul li a {
    text-align: right;
    color: white;
    text-decoration: none;

}

.entete i {
    color: white;
    margin-right: 3px;
    font-size: 15px;
}

h1 {
    text-align: center;
    position: absolute;
    left: 50%;
    top: -2em;
    margin: 0;
    font-size: 6vw;

    transform: translate(-50%);
    color: white;
    font-family: "Roots";
}

.container {
    position: fixed;
    z-index: 1;
    top: 45%;

}

.arrow {
    position: absolute;
    left: 25px;
    height: 2vw;
    width: 2vw;

    border-style: solid;
    border-color: #95621B;
    border-width: 0px 10px 10px 0px;
    transform: rotate(225deg);


}

.arrow:hover {
    border-bottom-width: 8px;
    border-right-width: 8px;
}

@media screen and (max-width:720px) {

    main {
        position: absolute;
        left: 50%;
        z-index: 0;
        top: 10em;
        transform: translate(-50%);
        width: 80%;
        height: 100%;

        /* box-shadow: 1px 0px 15px 5px black; */
        background-color: white;

    }

    p {
        color: black;
        text-align: center;
        width: 95%;
        font-family: 'Lato', sans-serif;
        font-size: 14px;

    }

    iframe {
        width: 70vw;
        height: 45vw;
    }

    nav ul {

        display: flex;
        justify-content: center;
        color: white;
        font-size: 20px;
        margin: 0;

        font-family: "Roots";
        font-weight: 150;
        text-align: center;
    }

    h1 {
        text-align: center;
        position: absolute;
        left: 50%;
        top: -2em;
        margin: 0;
        font-size: 10vw;
        width: 100%;
        transform: translate(-50%);
        color: white;
        font-family: "Roots";
    }

    h2 {
        text-align: center;
        padding-top: 35px;
        color: black;
        font-family: "Roots";
        font-size: 3em;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .container {
        position: fixed;
        z-index: 1;
        top: 45%;

    }

    .arrow {
        position: absolute;
        left: 25px;
        height: 3vw;
        width: 3vw;
        z-index: 1;
        border-style: solid;
        border-color: black;
        border-width: 0px 5px 5px 0px;
        transform: rotate(225deg);


    }
}
